---
// Destructure the properties from Astro.props
const { title, url } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
}
// Define CSS classes for the hyperlink button
const baseClasses =
  "inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-center text-sm font-medium text-white outline-hidden ring-zinc-500 focus-visible:ring-3 transition duration-300";
const borderClasses = "border border-secondary";
const bgColorClasses = "bg-secondary";
const hoverClasses =
  "hover:bg-secondary/80 hover:text-white active:text-white";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "ring-zinc-500";

const darkClasses =
  "dark:border-secondary dark:bg-secondary dark:text-white dark:ring-zinc-200 dark:hover:bg-secondary/80 dark:focus:outline-hidden";
---

<!-- Styled hyperlink -->
<a
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses} ${darkClasses}`}
  href={url}
>
  {title}
</a>
